.button{
	width: 131px;
    height: 45px;
    border-radius: 7px;
    box-shadow: none;
    float: right;
    background: #F1C75D;
    margin-top: -24px;
    margin-right: 22px;
    cursor: pointer;
}
.button:hover{
	background: #FFC200;
	color: #fff;
}

.float_left { float: left; }
.float_right { float: right; }

.checkout_left {
	border: 1px solid #818181;	
	margin-right: 30px;
	width: 410px;
	margin-left: 7px;
}

.checkout .checkout_nav ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.checkout .checkout_nav li {
	width: 172px;
	margin: 0px;
	padding: 5px 0px;
	list-style-type: none;
	text-align: center;
	float: left;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
.checkout .checkout_nav li a {
	color: #bbb;
	text-decoration: none;
}
.checkout .checkout_nav li.active_checkout a {
	color: #FFFFFF;
}
.checkout_content {
	padding: 10px;
}
.checkout_content table td span {
	font-size: 10px;
	color: #666;
	margin-left: 27px;	
}
.checkout_content table td a {
	font-size: 11px;
	color: #333;
	display: block;
	margin-left: 63px;
	margin-top: 10px;
	text-decoration: none;
}

.payment_content {
	border: 1px solid #818181;
	padding: 10px 20px;
	width: 360px;
	min-height: 300px;
	margin-left: -3px;
}
.payment_nav ul li:first-child { margin-top: 0px; }
.payment_view_massage {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.payment_content { font-size: 13px; }
.payment_view_massage {
	margin-top: 50px;
}
.payment_nav ul li.payment_active {
	background: #FFF;
	color: #333;
	border-right: none;
	padding-right: 2px;
}


.order_summery {
	border: 1px solid #818181;
}
.order_summery tr:first-child th {
	color: #FFFFFF;
}
.order_summery th a, .order_summery th a:hover { 
	color: #FFF; text-decoration: none; 
}



select { width: 180px; }
textarea { width: 180px; resize: none; }
input, select, textarea, button, textarea {     
	color: #000;
    width: 157px;
    height: 30px;}

table td, table th { padding: 5px; vertical-align: middle; }
.gray {
    color: #444;
}
.small_text {
    font-size: 9px;
}
.error { color: red; }

th{
	width: 20%;
	text-align: center;
}

td{
	width: 20%;
	text-align: center;
}


